<h4>Posts</h4>

<%= for post <- @posts do %>
  <div id="<%= post.id %>" style="margin-bottom: 1rem;">
    <span>
      <time><%= post.date %></time>
    </span> <>

    <h3> <%= link post.title, to: Routes.blog_path(@conn, :show, post), class: "post-title" %></h3>

    <!-- <p>
      Tagged as <%= Enum.join(post.tags, ", ") %>
    </p> -->

    <!-- <%= raw post.description %> -->
  </div>
<% end %>
