<%= link "← All posts", to: Routes.blog_path(@conn, :index), class: "link-back" %>

<h1 class="post-title"><%= @post.title %></h1>

<i><p><time><%= @post.date %></time> by <%= @post.author %></p><i>

<i><p>Tagged as <%= Enum.join(@post.tags, ", ") %></p></i>

<%= raw @post.body %>
